@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main" class="clearfix" style="z-index: 1;">
    <div id="view-holder">
        <div id="photo-list-holder" class="pre-loaded loaded" style="opacity: 1;">
            <div>
                <div id="thumb-wrapper">
                    <div id="thumbnails" class="ju photo-display-container clearfix" style="width: 1341px; margin-left: 10px;">
                        <div id="photo-display-container" style="z-index: 2;">
                            <script src="~/Content/js/danhSachAnh.js"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
                                <div class="row" style="width: 1331px">
                                <div class="photo-display-item" id="photo_12288731054" style="z-index: inherit;">
                                    <div class="hover-target">
                                        <div class="thumb ">
                                            <span class="photo_container pc_ju">
                                                <a data-track="photo-click" href="/photos/nickturpin/12288731054/in/explore-2014-02-03" class="rapidnofollow photo-click">
                                                    <img id="photo_img_12288731054" src="http://farm6.staticflickr.com/5531/12288731054_c791746350.jpg" width="407" height="271" alt="Through a Glass Darkly #9" class="pc_img " border="0">
                                                    <div class="play"></div>
                                                </a>
                                            </span>
                                            <div class="meta">
                                                <div class="title" style="display: none">
                                                    <a data-track="photo-click" href="/photos/nickturpin/12288731054/in/explore-2014-02-03" title="Through a Glass Darkly #9" class="title">Through a Glass Darkly #9</a>
                                                </div>
                                                <div class="attribution-block">
                                                    <span class="attribution">
                                                        <span>bởi </span>
                                                        <a data-track="owner" href="/photos/nickturpin" title="Nick_Turpin" class="owner">Nick_Turpin</a>
                                                    </span>
                                                </div>
                                                <span class="inline-icons" style="display: none">
                                                    <a data-track="favorite" href="#" class="rapidnofollow fave-star-inline canfave" title="Thêm ảnh này vào ảnh yêu thích của bạn?">
                                                        <img width="12" height="12" alt="[★]" src="http://l.yimg.com/g/images/spaceball.gif" class="img">
                                                        <span class="fave-count count">99+</span>
                                                    </a>
                                                    <a title="Lời bình" href="#" class="rapidnofollow comments-icon comments-inline-btn">
                                                        <img width="12" height="12" alt="Lời bình" src="http://l.yimg.com/g/images/spaceball.gif">
                                                        <span class="comment-count count">11</span>
                                                    </a>
                                                    <a href="#" data-track="lightbox" class="rapidnofollow lightbox-inline" title="Xem trên nền xám đen">
                                                        <img width="12" height="12" alt="" src="http://l.yimg.com/g/images/spaceball.gif">
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

    -->
