@{
    ViewBag.Title = "Trình diễn ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="main" class="clearfix" style="z-index: 1; margin-top: 0px; background-color:black">
    <div class="subnav-refresh subnav-view subnav-state-ready" id="subnav-refresh" style="left: -188px; width: 1351px;">
        <div class="cover-photo-holder">
            <div id="cover-photo" class="cover-photo wviewvert" style="background-image: url(http://l.yimg.com/g/images/coverphoto12_h.jpg.v2); top: -35px;"></div>
        </div>
        <!--Menu-->
        <div class="subnav-middle" id="yui_3_11_0_3_1393404454770_735">
            <div class="sn-avatar sn-avatar-size-300" id="yui_3_11_0_3_1393404454770_755">
                <img class="sn-avatar-mask" height="110" width="110" src="/Content/images/fake.jpg">
            </div>
            <div class="person" id="yui_3_11_0_3_1393404454770_738">
                <h1 id="yui_3_11_0_3_1393404454770_740">
                    <span class="character-name-holder" id="yui_3_11_0_3_1393404454770_757">
                        @User.Identity.Name
                    </span>
                </h1>
            </div>
            <div class="subnav-holder" id="yui_3_11_0_3_1393404454770_734">
                <ul class="nav-links clearfix" id="yui_3_11_0_3_1393404454770_733">
                    <li class="sn-navitem sn-photostream">
                        <a data-track="YouSubnav-photostream" href="/home/imageuser" data-rapid_p="3">Kho ảnh</a>

                    </li>
                    <li class="sn-navitem sn-navitem-sets sn-active">
                        <a data-track="YouSubnav-sets" href="/home/trinhdienanh" data-rapid_p="4">Trình diễn ảnh</a></li>
                    <li class="sn-navitem sn-navitem-faves " id="yui_3_11_0_3_1393404454770_751">
                        <a data-track="YouSubnav-favorites" href="/home/quanlyanh" data-rapid_p="5" id="yui_3_11_0_3_1393404454770_750">Sửa</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!---->
    <div>
        <script src="~/Content/js/swfobject.js"></script>
        <style>
            .example {
                background: #000;
                width: 900px;
                font-size: 80%;
                margin: 20px auto;
                padding: 15px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
            }
        </style>
        <div class="example">
            @*http://fake.apphb.com*@
            @{string x = "http://fake.apphb.com/upload/" + @User.Identity.Name + ".xml";}
            <div>
                <div id="fc">TiltViewer requires JavaScript and the latest Flash player. <a href="http://www.macromedia.com/go/getflashplayer/">Get Flash here.</a></div>
                <script type="text/javascript">
                    var fo = new SWFObject('/TiltViewer.swf', 'viewer', '100%', '600px', '9.0.28', '#000000');
                    fo.addVariable('useFlickr', 'false'); // we don`t need flickr right now
                    fo.addVariable('xmlURL', '@x'); // generator of fallery xml file
                    fo.addVariable('maxJPGSize', '1900'); // max file dimension size used for gallery
                    fo.addVariable('useReloadButton', 'false'); // we don`t need it for our demo
                    fo.addVariable('columns', '4'); // we will use 3 columns
                    fo.addVariable('rows', '4'); // and 3 rows (other images will at second page)
                    fo.addParam('allowFullScreen', 'true');
                    fo.write("fc");
                </script>

            </div>

        </div>

    </div>
</div>
